@font-face {
  font-family: "regular";
  src: url(../fonts/regular.ttf);
}
@font-face {
  font-family: bold;
  src: url(../fonts/bold.ttf);
}
body {
  font-family: "regular", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0px 32px;
  margin: 0 auto;
}

nav .nav {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav .logo .full__logo {
  display: block;
}
nav .nav .logo .mobile__logo {
  display: none;
  cursor: pointer;
}
nav .nav .nav__items {
  display: flex;
  align-items: center;
  gap: 32px;
}
nav .nav .nav__items .mobile__menu__btn {
  display: none;
}
nav .nav .nav__items .nav__menu {
  gap: 32px;
  display: flex;
}
nav .nav .nav__items .nav__menu li {
  list-style-type: none;
}
nav .nav .nav__items .nav__menu li a {
  color: #18181b;
  text-decoration: none;
}
nav .nav .nav__items .nav__menu li a:hover {
  color: #4cfdc7;
}
nav .nav .nav__items .nav__bnts {
  display: flex;
  gap: 8px;
}
nav .nav .nav__items .nav__bnts button {
  border-radius: 4px;
  cursor: pointer;
  padding: 9px 17px;
  color: #18181b;
  font-size: 12px;
}
nav .nav .nav__items .nav__bnts button svg {
  display: none;
}
nav .nav .nav__items .nav__bnts button#login {
  border: 1px solid #18181b;
  background: transparent;
}
nav .nav .nav__items .nav__bnts button#signup {
  border: 1px solid #4cfdc7;
  background: #4cfdc7;
  color: #01271c;
}
@media screen and (max-width: 890px) {
  nav .nav .logo svg {
    width: 152px;
    height: 16px;
  }
  nav .nav .nav__items {
    gap: 16px;
  }
  nav .nav .nav__items .nav__menu {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  nav .nav .nav__items .nav__menu {
    display: none;
  }
  nav .nav .nav__items .mobile__menu__btn {
    display: block;
  }
  nav .nav .logo svg {
    width: unset;
    height: unset;
  }
  nav .nav .logo .full__logo {
    display: none;
  }
  nav .nav .logo .mobile__logo {
    display: block;
  }
}
@media screen and (max-width: 580px) {
  nav .nav .nav__items .nav__bnts button {
    padding: 5px 10px;
  }
  nav .nav .nav__items .nav__bnts button#login svg, nav .nav .nav__items .nav__bnts button#signup svg {
    display: block;
  }
  nav .nav .nav__items .nav__bnts button#login span, nav .nav .nav__items .nav__bnts button#signup span {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  nav .nav .nav__items .nav__bnts button {
    padding: 6px 12px;
  }
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 130px;
  gap: 64px;
}
header .header .header__left {
  max-width: 659px;
}
header .header .header__left h1 {
  font-size: min(71px, max(35px + 2vw));
  font-weight: 400;
  color: #000000;
  margin: 0;
}
header .header .header__left p {
  margin: 34px 0px;
  max-width: 461px;
  color: #27272a;
}
header .header .header__left .header__left__btns {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
header .header .header__left .header__left__btns a {
  display: block;
  padding: 9px 33px;
  border-radius: 4px;
  text-decoration: none;
}
header .header .header__left .header__left__btns a:nth-child(1) {
  background: #4cfdc7;
  color: #01271c;
}
header .header .header__left .header__left__btns a:nth-child(2) {
  background: transparent;
  border: 1px solid #18181b;
}
header .header .header__left .header__left__stars {
  display: flex;
  gap: 8px;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #27272a;
}
@media screen and (max-width: 800px) {
  header .header {
    gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  header .header {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 65px;
    gap: 64px;
  }
  header .header .header__left .header__left__btns,
  header .header .header__left .header__left__stars {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  header .header {
    padding-top: 32.5px;
  }
  header .header .header__left .header__left__btns {
    flex-wrap: wrap;
  }
  header .header .header__left .header__left__btns a {
    width: 100%;
  }
  header .header .header__right .header__right__img img {
    width: 100%;
  }
}

main .markets__section {
  margin-bottom: 128px;
}
main .markets__section .markets {
  box-shadow: 0px 0px 16px rgba(9, 24, 26, 0.04);
  border-radius: 8px;
  padding: 32px;
  margin-top: 32px;
}
main .markets__section .markets .markets__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
main .markets__section .markets .markets__nav h4 {
  font-weight: 400;
  color: #71717a;
  cursor: pointer;
}
main .markets__section .markets .markets__nav h4.active {
  color: #18181b;
}
main .markets__section .markets .markets__table {
  overflow-y: hidden;
  overflow-x: auto;
}
main .markets__section .markets .markets__table table {
  width: 100%;
  border-collapse: collapse;
}
main .markets__section .markets .markets__table table tbody tr {
  border-bottom: 1px solid #f4f4f5;
}
main .markets__section .markets .markets__table table tbody tr th {
  padding: 16px 0px;
  text-align: left;
  color: #18181b;
  font-weight: 400;
  border-bottom: 1px solid #f4f4f5;
}
main .markets__section .markets .markets__table table tbody tr td {
  padding: 16px 0px;
  color: #18181b;
  font-weight: 400;
}
main .markets__section .markets .markets__table table tbody tr td span.aud {
  color: #a1a1aa;
  font-size: 14px;
}
main .markets__section .markets .markets__table table tbody tr td span.up {
  color: #10b981;
}
main .markets__section .markets .markets__table table tbody tr td span.down {
  color: #f43f5e;
}
main .markets__section .markets .markets__table table tbody tr td:nth-child(1), main .markets__section .markets .markets__table table tbody tr td:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 16px;
}
main .markets__section .markets .markets__table table tbody tr td a {
  display: block;
  text-decoration: none;
  padding: 16px 0px;
  background: #4cfdc7;
  border-radius: 4px;
  color: #01271c;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  main .markets__section .markets .markets__table table {
    width: 800px;
  }
}
main .markets__section .markets .markets__view__all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 22px;
}
main .markets__section .markets .markets__view__all a {
  color: #18181b;
  text-decoration: none;
}
@media screen and (max-width: 460px) {
  main .markets__section .markets .markets__nav {
    flex-wrap: wrap;
    margin-bottom: 16px;
    gap: 16px;
  }
  main .markets__section .markets .markets__nav h4 {
    margin: 0px;
    width: 100%;
    text-align: center;
  }
  main .markets__section .markets .markets__view__all {
    flex-wrap: wrap;
  }
  main .markets__section .markets .markets__view__all svg:nth-child(1) {
    width: 100%;
  }
}
main .markets__section .why__btc__markets {
  margin-top: 60px;
}
main .markets__section .why__btc__markets h2 {
  text-align: center;
  font-size: min(48px, max(25px + 2vw));
  font-weight: 400;
  margin: 0;
}
main .markets__section .why__btc__markets .wbm__items {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 128px;
}
main .markets__section .why__btc__markets .wbm__items .wbm__item {
  text-align: center;
  max-width: 250px;
}
main .markets__section .why__btc__markets .wbm__items .wbm__item .wbm__icon {
  margin-bottom: 32px;
}
main .markets__section .why__btc__markets .wbm__items .wbm__item h4 {
  margin: 0;
  color: #18181b;
  font-weight: 400;
  font-size: 20px;
}
main .markets__section .why__btc__markets .wbm__items .wbm__item p {
  color: #27272a;
  line-height: 24px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 768px) {
  main .markets__section .why__btc__markets .wbm__items {
    flex-wrap: wrap;
    margin-top: 64px;
  }
}
main .template__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 128px;
}
main .template__section:nth-child(odd) .template__section__cover {
  order: 1;
}
main .template__section:nth-child(odd) .template__section__content {
  order: 2;
}
@media screen and (max-width: 1024px) {
  main .template__section:nth-child(odd) .template__section__cover {
    order: 2;
  }
  main .template__section:nth-child(odd) .template__section__content {
    order: 1;
  }
}
main .template__section .template__section__content {
  flex: 1 1 550px;
}
main .template__section .template__section__content h4 {
  font-size: 16px;
  font-weight: 400;
  color: #18181b;
  text-transform: uppercase;
}
main .template__section .template__section__content h2 {
  font-size: min(40px, max(20px + 2vw));
  font-weight: 400;
  color: #18181b;
}
main .template__section .template__section__content .template__section__content__items {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
main .template__section .template__section__content .template__section__content__items .template__section__content__item {
  flex: 1 1 33.3333333333%;
}
main .template__section .template__section__content .template__section__content__items .template__section__content__item h6 {
  font-size: 16px;
  color: #18181b;
  font-weight: 400;
  margin: 8px 0px 18px 0px;
}
main .template__section .template__section__content .template__section__content__items .template__section__content__item p {
  color: #27272a;
  font-size: 15px;
  line-height: 24px;
}
main .template__section .template__section__cover {
  flex: 1 1 550px;
}
main .template__section .template__section__cover img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  main .template__section {
    flex-wrap: wrap;
  }
  main .template__section .template__section__cover img {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  main .template__section .template__section__content h2 {
    text-align: center;
  }
  main .template__section .template__section__content .template__section__content__items .template__section__content__item {
    flex: 1 1 100%;
    flex-wrap: wrap;
    text-align: center;
  }
}
main .vip__program__section {
  background-color: #fafafa;
  padding-top: 128px;
}
main .vip__program__section .container .vip__program__content {
  max-width: 710px;
  margin: 0 auto;
}
main .vip__program__section .container .vip__program__content h4 {
  font-size: 16px;
  font-weight: 400;
  color: #18181b;
  text-align: center;
  margin: 0;
}
main .vip__program__section .container .vip__program__content h2 {
  font-size: min(40px, max(20px + 2vw));
  color: #18181b;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1px;
  margin: 16px 0px 32px 0px;
}
main .vip__program__section .container .vip__program__content p {
  color: #27272a;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 42px;
}
main .vip__program__section .container .vip__program__content .vip__program__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
main .vip__program__section .container .vip__program__content .vip__program__items .vip__program__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .vip__program__section .container .vip__program__content .vip__program__items .vip__program__item h6 {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
}
@media screen and (max-width: 768px) {
  main .vip__program__section .container .vip__program__content .vip__program__items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 580px) {
  main .vip__program__section .container .vip__program__content .vip__program__items {
    gap: 32px;
  }
}
@media screen and (max-width: 380px) {
  main .vip__program__section .container .vip__program__content .vip__program__items .vip__program__item {
    gap: 4px;
  }
  main .vip__program__section .container .vip__program__content .vip__program__items .vip__program__item h6 {
    font-size: 12px;
  }
}
main .vip__program__section .container .vip__program__content a {
  display: block;
  text-decoration: none;
  padding: 9px 36px;
  width: -moz-fit-content;
  width: fit-content;
  color: #18181b;
  border: 1px solid #18181b;
  border-radius: 4px;
  margin-bottom: 64px;
  margin: 64px auto 64px auto;
}
main .vip__program__section .container .vip__program__cover img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 768px) {
  main .vip__program__section {
    padding-top: 64px;
  }
}
main .tree__easy__steps__section {
  padding-top: 128px;
  padding-bottom: 128px;
}
@media screen and (max-width: 768px) {
  main .tree__easy__steps__section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
main .tree__easy__steps__section .tree__easy__steps {
  max-width: 900px;
  margin: 0 auto;
}
main .tree__easy__steps__section .tree__easy__steps h2 {
  text-align: center;
  font-size: min(40px, max(20px + 2vw));
  font-weight: 400;
  margin: 0px 0px 64px 0px;
}
main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-bottom: 64px;
}
main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items .tree__easy__steps__item {
  text-align: center;
  width: 278px;
}
main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items .tree__easy__steps__item .icon {
  padding: 16px;
  background: #FCFBF8;
  width: 72px;
  height: 72px;
  border-radius: 4px;
  margin: 0 auto;
}
main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items .tree__easy__steps__item h6 {
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  margin: 16px 0px;
}
main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items .tree__easy__steps__item p {
  color: #27272a;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 580px) {
  main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__items {
    gap: 32px;
  }
}
main .tree__easy__steps__section .tree__easy__steps a {
  display: block;
  text-decoration: none;
  padding: 9px 33px;
  background: #4cfdc7;
  color: #01271c;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  margin: 0 auto 32px auto;
  transition: 0.3s;
}
main .tree__easy__steps__section .tree__easy__steps a:hover {
  background: #10b981;
  border-color: #10b981;
  color: #fff;
}
main .tree__easy__steps__section .tree__easy__steps .tree__easy__steps__stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #27272a;
}
main .trade__on__the__go h2 {
  text-align: center;
  font-size: min(40px, max(20px + 2vw));
  font-weight: 400;
  margin: 0px 0px 32px 0px;
}
main .trade__on__the__go p {
  color: #27272a;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 15px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto 32px auto;
}
main .trade__on__the__go .totg__store {
  display: flex;
  justify-content: center;
  gap: 32px;
}
@media screen and (max-width: 580px) {
  main .trade__on__the__go .totg__store {
    flex-wrap: wrap;
  }
}
main .trade__on__the__go .totg__store .app__store img,
main .trade__on__the__go .totg__store .google__play img {
  display: block;
  width: 150px;
  height: 50px;
}
main .trade__on__the__go .totg__store .app__store .app__store__stars,
main .trade__on__the__go .totg__store .app__store .google__play__stars,
main .trade__on__the__go .totg__store .google__play .app__store__stars,
main .trade__on__the__go .totg__store .google__play .google__play__stars {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
main .trade__on__the__go .totg__store .app__store .app__store__stars img,
main .trade__on__the__go .totg__store .app__store .google__play__stars img,
main .trade__on__the__go .totg__store .google__play .app__store__stars img,
main .trade__on__the__go .totg__store .google__play .google__play__stars img {
  width: unset;
  height: unset;
}
main .trade__on__the__go a {
  display: block;
  text-decoration: none;
  padding: 9px 33px;
  color: #18181b;
  border: 1px solid #18181b;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 32px auto 0px auto;
  transition: 0.3s;
}
main .trade__on__the__go a:hover {
  background: #01271c;
  border-color: #01271c;
  color: #fff;
}
main .latest__news__section {
  padding-top: 128px;
  padding-bottom: 128px;
}
@media screen and (max-width: 768px) {
  main .latest__news__section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
main .latest__news__section h2 {
  text-align: center;
  font-size: min(40px, max(20px + 2vw));
  font-weight: 400;
  margin: 0px 0px 32px 0px;
}
main .latest__news__section .latest__news__items {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 64px;
}
main .latest__news__section .latest__news__items .latest__news__item {
  box-shadow: 0px 0px 32px rgba(9, 24, 26, 0.1);
  border-radius: 8px;
  transition: all 0.3s;
}
main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__cover {
  max-width: 357px;
  max-height: 148px;
  overflow: hidden;
}
main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__cover img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}
main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__date__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 0px 16px;
}
@media screen and (max-width: 380px) {
  main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__date__status {
    flex-wrap: wrap;
  }
  main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__date__status p {
    width: 100%;
    text-align: center;
  }
  main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__date__status p:first-child {
    margin-bottom: 8px;
  }
}
main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__date__status p {
  margin: 0;
  color: #18181b;
}
main .latest__news__section .latest__news__items .latest__news__item .latest__news__item__date__status p:first-child {
  background: #BDFFEB;
  padding: 6px;
  border-radius: 4px;
  color: #01271c;
  font-size: 15px;
}
main .latest__news__section .latest__news__items .latest__news__item h4 {
  font-size: min(24px, max(12px + 2vw));
  margin: 0;
  font-weight: 400;
  max-width: 350px;
  padding: 0px 16px;
}
main .latest__news__section .latest__news__items .latest__news__item h4 a {
  color: #18181b;
  text-decoration: none;
}
main .latest__news__section .latest__news__items .latest__news__item .read__more {
  display: block;
  margin-top: 16px;
  text-decoration: none;
  color: #18181b;
  padding: 0px 16px 16px 16px;
}
main .latest__news__section .latest__news__items .latest__news__item:hover {
  box-shadow: 0px 0px 32px rgba(9, 24, 26, 0.3);
}
main .latest__news__section .latest__news__items .latest__news__item:hover .latest__news__item__cover img {
  transform: scale(1.1);
}
main .latest__news__section .latest__news__items .latest__news__item:hover h4 a {
  color: #01271c;
}
main .latest__news__section .latest__news__items .latest__news__item:hover .read__more {
  color: #10b981;
}
@media screen and (max-width: 1024px) {
  main .latest__news__section .latest__news__items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
main .latest__news__section .check__out__link {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #18181b;
  margin-bottom: 64px;
}
main .latest__news__section .check__out__link:hover {
  text-decoration: underline;
}
main .latest__news__section .social {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .latest__news__section .social {
    flex-wrap: wrap;
  }
}
main .latest__news__section .social a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #18181b;
  transition: 0.3s;
}
main .latest__news__section .social a svg path {
  transition: 0.3s;
}
main .latest__news__section .social a:hover {
  color: #10b981;
}
main .latest__news__section .social a:hover svg path {
  fill: #10b981;
}
main .before__footer h2 {
  text-align: center;
  font-size: min(40px, max(20px + 2vw));
  font-weight: 400;
  margin: 0px auto 32px auto;
  max-width: 420px;
}
main .before__footer a {
  display: block;
  text-decoration: none;
  padding: 9px 33px;
  background: #4cfdc7;
  color: #01271c;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  margin: 0 auto 32px auto;
  transition: 0.3s;
}
main .before__footer a:hover {
  background: #10b981;
  border-color: #10b981;
  color: #fff;
}
@media screen and (max-width: 768px) {
  main .markets__section {
    margin-bottom: 64px;
  }
  main .template__section {
    margin-bottom: 64px;
  }
  main .template__section .template__section__content h4 {
    text-align: center;
  }
  main .markets__section .why__btc__markets .wbm__items {
    gap: 32px;
  }
}

footer {
  margin-top: 128px;
}
footer .footer {
  display: flex;
  gap: 64px;
}
footer .footer .footer__item {
  flex: 1 1 227px;
}
footer .footer .footer__item h4 {
  margin-top: 0;
  margin-bottom: 32px;
  color: #18181b;
  font-weight: 400;
  font-size: 16px;
}
footer .footer .footer__item ul li {
  list-style-type: none;
}
footer .footer .footer__item ul li a {
  display: block;
  text-decoration: none;
  color: #3f3f46;
  margin-bottom: 16px;
}
footer .footer .footer__item ul li a svg path {
  fill: #3f3f46;
}
footer .footer .footer__item ul li a:hover {
  text-decoration: underline;
}
footer .footer .footer__item ul li img {
  width: 120px;
  height: 40px;
  display: block;
}
footer .footer .footer__item:nth-child(4) li a {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 1024px) {
  footer .footer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  footer .footer {
    text-align: center;
  }
  footer .footer .footer__item {
    flex: 1 1 100%;
  }
  footer .footer .footer__item li img {
    margin: 0px auto 8px auto;
  }
  footer .footer .footer__item:nth-child(4) li a {
    justify-content: center;
  }
}
footer .footer__info {
  text-align: center;
  font-size: 14px;
  color: #27272a;
  margin-top: 128px;
  margin-bottom: 64px;
}
footer .footer__info p {
  margin: 0;
}
footer .footer__info .footer__info__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  footer .footer__info .footer__info__top {
    flex-wrap: wrap;
    gap: 16px;
  }
  footer .footer__info .footer__info__top p {
    width: 100%;
  }
}
footer .footer__info .footer__info__bottom {
  font-size: 12px;
}


* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

ul {
  margin: 0px;
  padding: 0px;
}


body {
  margin: 0;
}


main {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}


pre {
  font-family: monospace, monospace; 
  font-size: 1em; 
}


a {
  background-color: transparent;
}


abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; 
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}


small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


img {
  border-style: none;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}


button,
input {
 
  overflow: visible;
}


button,
select {
  text-transform: none;
}


button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}


fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box; 
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0; 
  white-space: normal; 
}


progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}


[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0; 
}


[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}


[type=search] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}


[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit;
}

details {
  display: block;
}


summary {
  display: list-item;
}


template {
  display: none;
}


[hidden] {
  display: none;
}